
header{
    background: #353160;
    padding:20px 0 20px 0;
    top: 0;
    left:0;
    right: 0;
    position:fixed;
    width:100%;
    z-index: 1000;
    display:flex;
}

.logo{
    margin:0;
    
  }
  
  .nav-toggle{
    display:none;
  }

nav{
    position:absolute ;
    text-align:left;
    top:100%;
    left:0;
    background:#353160;
    width:100%;
   transform: scale(1,0);
    transition: transform 400ms ease-out;
    transform-origin:top;
  }
  
  nav ul{
   margin:0;
   padding:0;
   list-style:none;
  }
  
  nav li{
    margin-bottom: 1em;
    margin-left:1em;
  }
  
  nav a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-out;
    
  
  }
  
  .nav-toggle:checked ~ nav{
    transform:scale(1,1);
  }
  
  .nav-toggle:checked ~ nav a{
   opacity: 1;
    transition: opacity 250ms ease-out 300ms;
  }
  
  
  nav a:hover{
  color:#E79D5C;
  }
  
  .nav-toggle-label{
    position:absolute;
    top:0;
    left:0;
    margin-left:1em;
    height: 100%;
    display:flex;
    align-items: center;
  }
  
  .nav-toggle-label span,.nav-toggle-label span::before, .nav-toggle-label span::after{
    display:block;
    background: orange;
    height: 2px;
    width:2em;
    border-radius:2px;
    position:relative;
  }
  
  .nav-toggle-label span::before, .nav-toggle-label span::after{
    content:"";
  }
  
  .nav-toggle-label span::before{
    bottom: 7px;
  }
  
  .nav-toggle-label span::after{
    top:7px;
  }

  .logo{
    grid-column: 2/3;
  }
  
  nav{
    all:unset;
    grid-column: 3/4;
    display:flex;
    justify-content:flex-end;
    align-items: center;
  }
  
  nav ul{
    display:flex;
  }
  
  nav li{
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a{
    opacity:1;
    position: relative;
  }
  
  nav a::before{
    content:"";
    display:block;
    height: 5px;
    background:#E79D5C;
    position:absolute;
    top:-.5em;
    left:0;
    right:0;
    transform:scale(0,1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before{
    transform:scale(1,1);
  }
 
  
  @media screen and (min-width:600px){
    .nav-toggle-label{
      display:none;
    }
    header{
      display:grid;
      grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
   
    *{
        margin:0;
        padding:0;
        }
        /* ------- [ Simple Grid ] ------- */
        
        /* 2 Columns */
        .columns_2 {
          width: 50% ;
          float: left;
          margin-right: 20px;
        }
        
        .columns_2:last-of-type {
          margin-right: 0;
        }
        
        /* 3 Columns */
        .columns_3 {
          width: 300px;
          float: left;
          margin-right: 20px;  
          text-align: center;
        }
        
          
        .columns_3:last-of-type {
          margin-right: 0;
        }
        
        /* 4 Columns */
        .columns_4 {
          width: 220px;
          float: left;
          margin-right: 20px;
        }
        
        .columns_4:last-of-type {
          margin-right: 0;
        }
        
        /* 6 Columns */
        .columns_6 {
          width: 140px;
          float: left;
          margin-right: 20px;
        }
        
        .columns_6:last-of-type {
          margin-right: 0;
        }
        
        /* 12 Columns */
        .columns_6 {
          width: 60px;
          float: left;
          margin-right: 20px;
        }
        
        .columns_12:last-of-type {
          margin-right: 0;
        }
        .row{
          margin-bottom:20px;
          float:left;
        }

        /* Typography */
        p{
            line-height: 1.6;
          }

          p{
            font-size: 1em;
          }
         
          h1{
            width:100%;
            font-family:'Noto Sans KR', sans-serif;
            text-transform: none;
            font-size:2em;
            text-align:center;
            display:block;
            z-index: 100;
          }
           
         
            .type-overlay h1{
             width: 100%;
             font-family: 'Noto Sans KR', sans-serif;
             position: absolute;
             padding-top:250px;
             z-index: 5;
             text-align: center;
             text-transform: none;
             color: white;
             font-size: 2em;
             text-shadow: black 2px 2px;
            }
            
           .container {
            display: block;
            width: 940px;
            margin-right: auto;
            margin-left: auto;
            overflow: hidden;
            clear: both;
          }

          /*Images*/
          .columns_2 img{
              width:50%;
              position:relative;
          }
          .hero-container{
            display:block;
            width:100%;
            margin-right: none;
            height: 600px;
            background-image: url("/images/hero-img.jpg" alt="Hero Image") ;
            background-size: cover;
            background-position-x: right;
            margin-left:none;
            clear:both;
            }

          .hero-container img{
            width: 100%;
            height:100%;
            display: block;
            position: relative;
           }

